footer {
	background-color: #272D2D;
	color: white;
	padding: 30px;
}

footer a {
	color: white;
	
}

footer h2{
	font-family: 'Archivo Black','sans-serif'
}

footer a:hover,
footer a:active,
footer a:focus {
	color: #E26D5C;
	text-decoration: none;
}

@media screen and (max-width: 400px){
	
	footer {
		padding: 20px;
	}	
}