footer {
	background-color: #272D2D;
	color: white;
	padding: 30px;
}

footer a {
	color: white;
}

footer a:hover,
footer a:active,
footer a:focus {
	color: white;
}

@media screen and (max-width: 400px){
	
	footer {
		padding: 20px;
	}	
}