/* process styles */
.process {
	padding: 30px;
}

.process > h1 {
	text-align: center;
	margin-bottom: 2rem;
}

.process article h1 {
	text-align: center;
}

.process a{
	color: #1A659E;
	font-size: 2rem;
}

.process li a {
	font-size: 1.5rem;
}

.process a:hover{
	text-decoration: none;
	color: #E26D5C;
}
