/* CSS Document */
footer {
  background-color: #272D2D;
  color: white;
  padding: 30px;
}

footer a {
  color: white;
}

footer h2 {
  font-family: "Archivo Black", "sans-serif"; }

footer a:hover,
footer a:active,
footer a:focus {
<<<<<<< HEAD
  color: #E26D5C;
  text-decoration: none; }
=======
  color: white;
}
>>>>>>> a1c2573229bf5f927cebc92e53894bac5e7195f6

@media screen and (max-width: 400px) {
  footer {
    padding: 20px;
  }
}

/* header styles */
header {
  background-color: #1C3F77;
  height: 90px;
}

header .container {
  background-color: #1C3F77;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header a {
  color: white;
}

header a:hover,
header a:active,
header a:focus {
  color: white;
}

header h1 {
  margin-bottom: 0;
}

header h1 a {
  margin: 0;
  line-height: 90px;
  font-size: 3rem;
  float: left;
}

header h2 a {
  margin: 0;
  line-height: 90px;
  font-size: 2rem;
  float: left;
}

/* header navigation styles */
.btn-menu {
  display: none;
}

header nav {
  width: 600px;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header nav a {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  line-height: 90px;
}

header nav a:hover,
header nav a:active,
header nav a:focus {
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  /* responsive navigation */
  .btn-menu {
    display: block;
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    color: white;
    text-transform: uppercase;
    line-height: 90px;
  }
  .btn-menu:focus {
    outline: 1px solid rgba(255, 255, 255, 0.3);
  }
  header nav {
    display: none;
    width: 100%;
    clear: both;
    background-color: #1C3F77;
  }
  header nav ul {
    display: block;
  }
  header nav li {
    width: 100%;
  }
  header nav a {
    display: block;
    line-height: 40px;
    text-align: center;
  }
  .show header {
    height: auto;
  }
  .show header nav {
    display: block;
  }
}

@media screen and (max-width: 560px) {
  header {
    height: 70px;
  }
  header h1 a {
    line-height: 70px;
    font-size: 2.5rem;
  }
  .btn-menu {
    line-height: 70px;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 400px) {
  section {
    padding: 20px;
  }
  header .container {
    padding: 0 20px;
  }
}

/* top banner styles */
.top-banner {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../images/bright_squares_@2X.png");
}

.top-banner h2 {
  font-size: 3rem;
  text-align: center;
  line-height: 1.2;
  padding-left: 20px;
<<<<<<< HEAD
  font-family: "Archivo Black", "sans-serif"; }
=======
  font-family: 'Archivo Black';
}
>>>>>>> a1c2573229bf5f927cebc92e53894bac5e7195f6

.top-banner h3 {
  font-size: 2rem;
  text-align: center;
  line-height: 1.2;
}

.top-banner p {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  line-height: 1.2;
}

@media screen and (max-width: 900px) {
  /* top banner */
  .top-banner {
    padding: 1vw;
    display: block;
  }
  .bcitlogo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1vw;
  }
  .top-banner h2 {
    font-size: 5vw;
  }
  .top-banner h3 {
    font-size: 3vw;
  }
  .top-banner p {
    font-size: 3.5vw;
  }
}

/* mid banner styles */
.mid-banner {
  position: relative;
}

.mid-banner h2 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3rem;
}

@media screen and (max-width: 900px) {
  .mid-banner h2 {
    font-size: 7vw;
  }
}

/* bottom banner styles */
.bottom-banner {
  background-color: #F2F2F2;
  padding: 90px 0;
}

.bottom-banner p {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
}

.bottom-banner a {
  color: white;
  display: block;
  background-color: #161925;
  padding: 14px 40px;
  width: 200px;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
}

.bottom-banner a:hover {
  text-decoration: none;
  color: #E26D5C; }

@media screen and (max-width: 900px) {
  .bottom-banner {
    padding: 30px;
  }
}

/* Grid Styles */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Grid Column Widths */
.one-half {
  width: 48%;
}

.one-third {
  width: 30.6666666667%;
}

@media screen and (max-width: 560px) {
  /* Make Grid Columns 
	   Single Columns on Mobile */
  .one-half,
  .one-third {
    width: 100%;
  }
}

h1, h2, nav a {
  font-family: 'Montserrat', sans-serif;
}

/* typography */
body {
  font-family: 'Karla', sans-serif;
  background-color: #ebebeb;
}

/* process styles */
.process {
  padding: 30px;
}

.process > h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.process article h1 {
  text-align: center;
}

.process a {
  color: #1A659E;
  font-size: 2rem; }

.process a:hover {
  text-decoration: none;
  color: #E26D5C; }

/* Responsive Images Reset */
img {
  max-width: 100%;
  height: auto;
}

/* Container Styles */
.container {
  background-color: white;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.contactForm {
  text-align: center;
  background-color: #dee4ed;
  padding: 50px;
  margin-left: 10%;
  margin-right: 10%;
}

.formInput {
  width: 50%;
}
/*# sourceMappingURL=main.css.map */